.page-header {
  display: flex;
  flex-direction: column;
  &__logo {
    min-height: 55px;
    order: 0;
  }
  .main-nav {
    order: -1;
  }
  &__slogan {
    margin: 0;
    padding: 0;
    order: 1;
  }
}

.main-nav {
  position: relative;
  width: 320px;
  min-height: 220px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    }
  }

.site-list__item {
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
}

.site-list__link {
  display: block;
  padding: 21px 0;

  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 1px solid dimgrey;
  color: @white;
}



