.page-header {
  display: flex;
  flex-direction: column;

  &__logo {
    display: flex;
    justify-content: center;
    width: 320px;
    min-height: 50px;
    order: 0;
  }
}

.main-nav {
  position: relative;
  width: 320px;
  min-height: 220px;
  order: -1;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
}

.site-list__item {
  margin: 0;
  padding: 0;
  background-color: @bg-color-secondary;
  border-bottom: 1px solid @border-color;
  &:last-of-type {
    border-bottom: none;
  }
}

.site-list__link {
  display: block;
  padding: 21px 0;

  text-transform: uppercase;
  text-decoration: none;
  color: @bg-color-main;
}

.page-header__slogan {
  position: relative;
  order: 1;
}

.header-slogan__text {
  position: absolute;
  left: 7%;
  top: 20%;
}

.advantages__title,
.advantages__text,
.reservation__title,
.reservation__text {
  text-align: center;
}

.advantages__text {
  margin: 0 auto;
}

.advantages-promo {
  list-style: none;
}

